.ui-form-component {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
    
    .form-row {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding: 4px;
        margin-bottom: 6px;

        label {
            text-align: left;
            width: 15%;
        }

        input {
            width: 85%;
        }

        select {
            width: 85%;
        }

        .MuiFormControl-root {
            width: 85%;
        }

        #ingredients-label, #description-label {
            align-self: flex-start;
            padding-top: 1rem;
        }

        // special properties for form containers on AddRecipe page
        .ingredient-container {
            width: 85%;

            .ingredient-widget {
                width: 100%;

                tr {
                    width: 100%;
                    td {
                        width: 30%;

                        .MuiFormControl-root {
                            width: 100%;
                        }

                        label {
                            width: unset;
                        }
                    }

                    td:last-child {
                        width: 10%;
                    }
                }
            }

            #add-ingredient-button {
                margin-top: 1rem;
                float: right;
            }
        }
    }

    .form-row-editor {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;

        label {
            padding-bottom: 8px;
        }
    }
}