@import "./helpers/variables"; 

#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: $richblack;
}

.ui-creatable-component {
  margin-bottom: 10rem;
}